<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.applicationMarket.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.applicationMarket.domain.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email_login" property="emailLogin" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="user_icon" property="userIcon" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="is_developer" property="isDeveloper" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="publisher_name" property="publisherName" jdbcType="VARCHAR" />
    <result column="id_card_image" property="idCardImage" jdbcType="VARCHAR" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="business_license_number" property="businessLicenseNumber" jdbcType="VARCHAR" />
    <result column="registed_address" property="registedAddress" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="web_address" property="webAddress" jdbcType="VARCHAR" />
    <result column="examin_status" property="examinStatus" jdbcType="INTEGER" />
    <result column="auth_date" property="authDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, password, email_login, mobile, user_icon, gender, address, province_code, 
    is_developer, real_name, role_id, activated, deleted, last_login_time, enterprise_name, 
    publisher_name, id_card_image, business_license, business_license_number, registed_address, 
    contact_name, contact_mobile, contact_address, email, qq, web_address, examin_status, 
    auth_date, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.applicationMarket.domain.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user (user_name, password, email_login, 
      mobile, user_icon, gender, 
      address, province_code, is_developer, 
      real_name, role_id, activated, 
      deleted, last_login_time, enterprise_name, 
      publisher_name, id_card_image, business_license, 
      business_license_number, registed_address, 
      contact_name, contact_mobile, contact_address, 
      email, qq, web_address, 
      examin_status, auth_date, create_date, 
      update_date)
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{emailLogin,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{userIcon,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{isDeveloper,jdbcType=INTEGER}, 
      #{realName,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, 
      #{deleted,jdbcType=INTEGER}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{enterpriseName,jdbcType=VARCHAR}, 
      #{publisherName,jdbcType=VARCHAR}, #{idCardImage,jdbcType=VARCHAR}, #{businessLicense,jdbcType=VARCHAR}, 
      #{businessLicenseNumber,jdbcType=VARCHAR}, #{registedAddress,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{contactMobile,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{webAddress,jdbcType=VARCHAR}, 
      #{examinStatus,jdbcType=INTEGER}, #{authDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.applicationMarket.domain.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="userId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="emailLogin != null" >
        email_login,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="userIcon != null" >
        user_icon,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="isDeveloper != null" >
        is_developer,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="enterpriseName != null" >
        enterprise_name,
      </if>
      <if test="publisherName != null" >
        publisher_name,
      </if>
      <if test="idCardImage != null" >
        id_card_image,
      </if>
      <if test="businessLicense != null" >
        business_license,
      </if>
      <if test="businessLicenseNumber != null" >
        business_license_number,
      </if>
      <if test="registedAddress != null" >
        registed_address,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactMobile != null" >
        contact_mobile,
      </if>
      <if test="contactAddress != null" >
        contact_address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="webAddress != null" >
        web_address,
      </if>
      <if test="examinStatus != null" >
        examin_status,
      </if>
      <if test="authDate != null" >
        auth_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="emailLogin != null" >
        #{emailLogin,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null" >
        #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeveloper != null" >
        #{isDeveloper,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseName != null" >
        #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="publisherName != null" >
        #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="idCardImage != null" >
        #{idCardImage,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNumber != null" >
        #{businessLicenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="registedAddress != null" >
        #{registedAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="webAddress != null" >
        #{webAddress,jdbcType=VARCHAR},
      </if>
      <if test="examinStatus != null" >
        #{examinStatus,jdbcType=INTEGER},
      </if>
      <if test="authDate != null" >
        #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.applicationMarket.domain.User" >
    update t_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="emailLogin != null" >
        email_login = #{emailLogin,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="userIcon != null" >
        user_icon = #{userIcon,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="isDeveloper != null" >
        is_developer = #{isDeveloper,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enterpriseName != null" >
        enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      </if>
      <if test="publisherName != null" >
        publisher_name = #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="idCardImage != null" >
        id_card_image = #{idCardImage,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNumber != null" >
        business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
      </if>
      <if test="registedAddress != null" >
        registed_address = #{registedAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="webAddress != null" >
        web_address = #{webAddress,jdbcType=VARCHAR},
      </if>
      <if test="examinStatus != null" >
        examin_status = #{examinStatus,jdbcType=INTEGER},
      </if>
      <if test="authDate != null" >
        auth_date = #{authDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.applicationMarket.domain.User" >
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email_login = #{emailLogin,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      user_icon = #{userIcon,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      is_developer = #{isDeveloper,jdbcType=INTEGER},
      real_name = #{realName,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
      publisher_name = #{publisherName,jdbcType=VARCHAR},
      id_card_image = #{idCardImage,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      business_license_number = #{businessLicenseNumber,jdbcType=VARCHAR},
      registed_address = #{registedAddress,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      web_address = #{webAddress,jdbcType=VARCHAR},
      examin_status = #{examinStatus,jdbcType=INTEGER},
      auth_date = #{authDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  
  <!-- 
  	User selectUserByUserName(String userName);
   -->
  <select id="selectUserByUserName" resultMap="BaseResultMap">
  	select *
    from t_user where user_name=#{userName} and deleted=1
  </select>
  
 
 
 <!-- 
 	List<User> selectExmainList(PagingTool pagingTool);
  -->
 <select id="selectExmainList" resultMap="BaseResultMap" parameterType="com.techwells.applicationMarket.util.PagingTool">
 	SELECT
	*
FROM
	t_user u
<where>
	<if test="params.userId!=null">
		and user_id=#{params.userId}
	</if>
	
	<if test="params.userName!=null">
		and user_name=#{params.userName}
	</if>
	
	<if test="params.realName!=null">
		and real_name=#{params.realName}
	</if>
	
	<if test="params.provinceCode!=null">
		and province_code=#{params.provinceCode}
	</if>
	
	<if test="params.authDate!=null">
		and auth_date=#{params.authDate}
	</if>
	
	<if test="params.status!=null">
		and examin_status=#{params.status}
	</if>
	
	and u.is_developer != 0 and deleted=1
</where>
order by auth_date desc
limit #{startNum},#{pageSize}	
</select>
  
<!-- 
	int countTotalExaminList(PagingTool pagingTool);
 -->
<select id="countTotalExaminList" resultType="java.lang.Integer" parameterType="com.techwells.applicationMarket.util.PagingTool">
	SELECT
	count(*)
FROM
	t_user u
<where>
	<if test="params.userId!=null">
		and user_id=#{params.userId}
	</if>
	
	<if test="params.userName!=null">
		and user_name=#{params.userName}
	</if>
	
	<if test="params.realName!=null">
		and real_name=#{params.realName}
	</if>
	
	<if test="params.provinceCode!=null">
		and province_code=#{params.provinceCode}
	</if>
	
	<if test="params.authDate!=null">
		and auth_date=#{params.authDate}
	</if>
	
	<if test="params.status!=null">
		and examin_status=#{params.status}
	</if>
	and u.is_developer != 0 and deleted=1
</where>

</select>


<!-- 
	int updateUserBatch(@Param("ids")String ids,@Param("status")Integer status);
 -->
<update id="updateUserBatch">
	update t_user set examin_status=#{status} where user_id in
	<foreach collection="ids" item="id" open="(" separator="," close=")">
		#{id}
	</foreach>
</update>

  
<!-- 
	List<User> selectUserListBack(PagingTool pagingTool);
 -->
<select id="selectUserListBack" parameterType="com.techwells.applicationMarket.util.PagingTool" resultMap="BaseResultMap">
	select * from t_user
	<where>
		<if test="params.userId!=null">
			and user_id=#{params.userId}
		</if>
		
		<if test="params.userName!=null">
			and user_name=#{params.userName}
		</if>
		
		<if test="params.realName!=null">
			and real_name=#{params.realName}
		</if>
		
		<if test="params.gender!=null">
			and gender=#{params.gender}
		</if>
		
		<if test="params.isDeveloper!=null">
			and is_developer=#{params.isDeveloper}
		</if>
		and deleted=1
	</where>
	limit #{startNum},#{pageSize}
</select>

<!-- 
	int countTotalUserListBack(PagingTool pagingTool);
 -->
<select id="countTotalUserListBack"  parameterType="com.techwells.applicationMarket.util.PagingTool" resultType="java.lang.Integer">
	select count(*) from t_user
	<where>
		<if test="params.userId!=null">
			and user_id=#{params.userId}
		</if>
		
		<if test="params.userName!=null">
			and user_name=#{params.userName}
		</if>
		
		<if test="params.realName!=null">
			and real_name=#{params.realName}
		</if>
		
		<if test="params.gender!=null">
			and gender=#{params.gender}
		</if>
		
		<if test="params.isDeveloper!=null">
			and is_developer=#{params.isDeveloper}
		</if>
		and deleted=1
	</where>
</select>
  

<!-- 
	 User selectUserByEmail(String email);
 -->
<select id="selectUserByEmail" resultMap="BaseResultMap">
	select * from t_user where email_login=#{email} and deleted=1
</select>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>