<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.applicationMarket.dao.WalletTypeMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.applicationMarket.domain.WalletType" >
    <id column="wallet_type_id" property="walletTypeId" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    wallet_type_id, type_name, deleted, activated, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wallet_type
    where wallet_type_id = #{walletTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wallet_type
    where wallet_type_id = #{walletTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.applicationMarket.domain.WalletType" >
    <selectKey resultType="java.lang.Integer" keyProperty="walletTypeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_wallet_type (type_name, deleted, activated, 
      create_date, update_date)
    values (#{typeName,jdbcType=VARCHAR}, #{deleted,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.applicationMarket.domain.WalletType" >
    <selectKey resultType="java.lang.Integer" keyProperty="walletTypeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_wallet_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.applicationMarket.domain.WalletType" >
    update t_wallet_type
    <set >
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wallet_type_id = #{walletTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.applicationMarket.domain.WalletType" >
    update t_wallet_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=INTEGER},
      activated = #{activated,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where wallet_type_id = #{walletTypeId,jdbcType=INTEGER}
  </update>
</mapper>